*.pyc
*.asv
*.jpg
*.zip
*.png

matlab_attempt/Processed excel problems*
matlab_attempt/XML problem files*
matlab_attempt/XML Trees/*uncompressed.xml

dynamic/New problems/*.xml
dynamic/Problems/*.xml
problems/*.xml
dynamic/test_questions.txt
dynamic/new_questions.txt
*.mat
*.csv
