*.pyc
*.asv
*.jpg
*.zip
*.png

matlab_attempt/Filled-in Excel files*
matlab_attemptXML problem files*

dynamic/New problems/*.xml
dynamic/Problems/*.xml
problems/*.xml
dynamic/test_questions.txt
dynamic/new_questions.txt
